.nav-link {
   color: #3baeff!important;
   font-size: 1.1rem;
 }

 a {
   text-decoration: none;
   color: #3baeff;
 }

.nav-link a:hover {
   padding-bottom: 5px;
   border-bottom: solid 3px orange;
}

.navbar-toggler-icon {
   background-image: url('/public/menu-icon_48x48.svg');
}

.navbar-brand {
   border-bottom: solid 5px #3baeff;
}

.active {
   translate: color, border-bottom;
   color: orange!important;
   padding-bottom: 5px;
   border-bottom: solid 3px orange;
 }


