.nav-link {
   color: #3baeff!important;
   font-size: 1.1rem;
 }

 a {
   text-decoration: none;
 }

 .nav-link {
   position: relative;
 }
 
 .nav-link:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 3px;
   bottom: 0;
   left: 0;
   background-color: orange;
   transform-origin: bottom right;
   transition: transform 0.3s ease-out;
 }
 
 .nav-link:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }

.navbar-toggler-icon {
   background-image: url('/public/menu-icon_48x48.svg');
}

.navbar-brand {
   border-bottom: solid 5px #3baeff;
}

.active {
   color: orange!important;
 }


