.navbar {
  background: rgba(15, 18, 22, 0.75);
  box-shadow: 0 8px 32px 0 #add8e636;
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 3px;
  border-bottom: solid #add8e6 1px;
}

.nav-link {
  color: #3baeff !important;
  font-size: 1.1rem;
}

.nav-link a {
  text-decoration: none;
}

.nav-link {
  position: relative;
}

.nav-link-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-toggler-icon {
  background-image: url('/public/menu-icon_48x48.svg') !important;
}

.navbar-brand {
  border-bottom: solid 5px #3baeff;
  border-radius: 5px;
}

.active {
  color: orange !important;
}

/* @media (max-width: 991px) {
  .show {
    position: absolute;
    top: 107px;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background: var(--background-color);
    border-bottom: solid 1px white;
    padding: 12px 0;
    
  }
} */
/* .show {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--background-color);
  box-shadow: 0 5px 32px 0 #add8e636;
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 0 0 0 5px;
  border-bottom: solid 1px #add8e6;
  padding: 12px 0;
} */
